<div className={styles.tabs}>
  <app-tab icon="/react_icon.svg" filename="home.jsx" path="/" /></app-tab>
  <app-tab icon="/html_icon.svg" filename="about.html" path="/about" /></app-tab>
  <app-tab icon="/css_icon.svg" filename="contact.css" path="/contact" /></app-tab>
  <app-tab icon="/js_icon.svg" filename="projects.js" path="/projects" /></app-tab>
  <app-tab icon="/json_icon.svg" filename="articles.json" path="/articles" /></app-tab>
  <app-tab icon="/markdown_icon.svg" filename="github.md" path="/github" /></app-tab>
</div>
