<section class="Titlebar_titlebar__qF029">
  <img class="Titlebar_logo" src="/src/assets/media/vscode_icon.svg">
  <div class="Titlebar_items__kiyGW">
    <p>File</p>
    <p>Edit</p>
    <p>View</p>
    <p>Go</p>
    <p>Run</p>
    <p>Terminal</p>
    <p>Help</p>
  </div>
  <p class="Titlebar_title__JRI8S">Murdo Meiring - Visual Studio Code</p>
  <div class="Titlebar_windowButtons__fwpk_"><span class="Titlebar_minimize__lFuJ1"></span><span
      class="Titlebar_maximize__hjViL"></span><span class="Titlebar_close__32yPf"></span></div>
</section>
